@font-face {
              font-family: "Font Digital";
              src: url('W.Font-Regular.TTF');
              }
      
        .digital {
              font-family: "Font Digital";
              }